
@import url("https://use.typekit.net/xzz6dxg.css");
@import url("https://use.typekit.net/eqc1izp.css");

body {
  font-family: lato, sans-serif;
  // background-color: $primaryColor
}
*{
  
}
button,input{
  outline: none;
}
ul{
  padding: 0;
  list-style: none;
}
// edit bootstrap
.container,.container-fluid,.container-lg{
  max-width: 1170px;
}