@use '../../sass/variables/colors';
@use '../../sass/variables/fonts';

.header-page{
  height: 286px;
  background-color: #F6F5FF;
  font-size: 16px;
  display: flex;
  align-items: center;
  .title-header-page{
    font-size: calc(2em + 4px);
    color: #101750;
    font-family: fonts.$secondlyFont;
    font-weight: bold;
  }
  .subtitle-header-page{
    .title-link{
      color: colors.$primaryColor;
    }
  }
}
@media (max-width: 1400px) {
  .header-page{
    height: 226px;
  }
}