$colors: (pick:#F701A8, green:#05E6B7, blue:#00009D);
.card-line {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: 13px 0 10px;
  @each $color,$code in $colors {
    .#{$color}-line {
      background-color: $code;
      width:14px;
      height: 4px;
      border-radius: 10px;
    }
  }
}
