@use '../../../sass/variables/colors';
@use '../../../sass/variables/fonts';

.btn{
  &.btn-hek-primary{
    border-radius: 2px;
    background-color: colors.$primaryColor;
    color: #fff;
    font-family: fonts.$secondlyFont;
    padding: 0.677vw 2.083vw;
    font-size: 17px;
  }
}