@use '../../../sass/variables/colors';

.clubs{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;
  .club{
    width: 16px;// 24 expand
    height: 4px;
    background-color: colors.$primaryColor;
    opacity: .4;
    &:first-child{
      opacity: 1;
      width: 24px;
    }
  }
}