.top-header {
  font-family: josefin-sans, sans-serif;
  height: 44px;
  background-color: #7e33e0;
  .list-items-top {
    height: 100%;
    align-items: center;
    font-size: 16px;
    list-style: none;
    color: white;
    .item-top {
      display: flex;
      align-items: center;
      a {
        color: white;
        text-decoration: none;
        svg {
          padding-bottom: 3px;
          font-size: 20px;
        }
      }
      .icon-item-top {
        margin-right: 7px;
        justify-content: center;
      }
    }
  }
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-icon svg {
  font-size: 26px;
  padding-bottom: 4px;
}
