@use "../../sass/helper/mixins";
@use "../../sass/variables/fonts";
@use "../../sass/variables/colors";
.single-product {
  .card-single-product {
    font-family: fonts.$secondlyFont;
    margin-top: 100px;
    background-color: #fff;
    padding: 13px;
    box-shadow: 0 0 25px 10px #f6f4fd;
    .box-image {
      width: 151px;
      height: 155px;
      overflow: hidden;
      background-color: #c4c4c4;
      background-size: 185%;
      background-position: center;
      cursor: pointer;
    }
    .box-single-image {
      max-width: 375px;
      max-height: 487px;
      overflow: hidden;
      @include mixins.center-flex;
    }
    .info-product {
      .title-single-product {
        color: #0d134e;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 3px;
      }
      .evaluation {
        svg {
          color: gold;
          font-size: 17px;
        }
        .number-evaluation {
          color: colors.$textProductColor;
          margin-left: 4px;
        }
      }
      .description {
        font-weight: 600;
        color: #a9acc6;
        margin-top: 8px;
      }
      .favorite {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
      }
      .box-share {
      }
      .sub-title {
        font-size: 16px;
        color: colors.$textProductColor;
        font-weight: 700;
        margin-right: 8px;
      }
      .social-media {
        column-gap: 10px;
        .icon-social {
          width: 20px;
          height: 20px;

          border-radius: 50%;
          @include mixins.center-flex;
          svg {
            font-size: 12px;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) and (min-width:782px) {
  .single-product {
    .card-single-product {
      .box-single-image{
        height: 49.093vw;
      }
      .box-image {
        width: 15.222vw;
        height: 15.625vw;
      }
    }
  }
}
