@use "../../sass/variables/fonts";
@use "../../sass/variables/colors";
@use "../../sass/helper/mixins";

$footerColor: #8A8FB9;
.footer-main {
  background-color: #eeeffb;
  $py: 5em;
  padding-top: $py;
  padding-bottom: $py;

  .title-footer {
    font-family: fonts.$secondlyFont;
    font-weight: 900;
  }
  .from-group-footer {
    max-width: 377px;
     position: relative;
    .input-footer {
      border: none;
      border-radius: 3px;
      padding-left: 13px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      &::placeholder{
        color: #8A8FB9;
      }
    }
    .btn-footer {
      border-radius: 3px;
      background-color: colors.$primaryColor;
      color: #fff;
      border: none;
      position: absolute;
      right: 3px;
      top: 3px;
      bottom: 3px;
    }
  }
  p{
    color: $footerColor;
  }
}
.footer-bottom{
  background-color: #E7E4F8;
  color: #9DA0AE;
  $py: 14.5px;
  padding-top:$py ;
  padding-bottom: $py;
  .copy-right{
    text-align: center;
  }
  .social-media{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    .icon-social{
      @include mixins.center-flex;
      width: 19.42px;
      height: 19.42px;
      background-color: colors.$textProductColor;
      border-radius: 50%;
      color: #fff;
      svg{
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 920px) {
  .footer-main {
    $py: 2em;
    padding-top: $py;
    padding-bottom: $py;
  }
}